<html >
<head>
<script src='http://code.jquery.com/jquery-1.10.2.js' type='text/javascript'></script>
<link rel="stylesheet" href="bootstrap.min.css">

<script src='angular.js' type='text/javascript'></script>
<script src='app.js' type='text/javascript'></script>
<script src='FriendController.js' type='text/javascript'></script>



<link rel="stylesheet" type="text/css" href="style.css">
<title>Facebook Lesson 18</title>
</head>

<body ng-app='friendApp' ng-controller ='friendControl'>
  {{text}}

<h1>The <strong>facebook</strong> Friend Machine</h1>

<div class="friends">


<form class="form-inline searchForm" role="form">
  <div class="form-group">

  <input class="form-control" placeholder="Search Your Friends" ng-model='q.name'>
  <input class="form-control" placeholder="Search Your Friends' Location" ng-model='y.current_location'>
  <!-- The stuff below is For step 5....get rid of the one above if you wish-->
<!--    
    <input class="form-control" placeholder="Search Your Friends' Name" >
    <input class="form-control" placeholder="Search Your Freinds' Location" > 
 -->
    <select class="input-medium" ng-model='sortField'>
        <option value = "name">Name</option>
        <option value = 'friend_count'># friends</option>
        <option value = 'current_location.city'>City</option>
        <option value = 'current_location.state'>State</option>
        <option value = 'current_location.country'>Country</option>
    </select>
    sortField: {{sortField}}
    <select class="input-medium" ng-model='sortAscencion'>
        <option value="true">Descending</option>
        <option value="false">Ascending</option>
    </select>
  </div>
</form>

  <ul>
    <li class = 'friend' ng-repeat='friend in friends | filter:q | filter:y | orderBy:sortField:sortAscencion'>
      <img class = 'profile-pic' ng-src= '{{friend.pic_square}}'>
      <h3>{{friend.name}}</h3>
      <div class = 'location' ng-show="friend.current_location">
        Location: {{friend.current_location.city}}, {{friend.current_location.state}}, {{friend.current_location.country}}
      </div>
      <div class = 'status' ng-show="friend.status.message">
        Status: {{friend.status.message}}
      </div>
      <div class = 'num-friends' ng-show="friend.friend_count">
        Friends: {{friend.friend_count}}
      </div>
    </li
  </ul>
</div>






</body>
</html>